{% extends 'base.html' %} {% block meta %}
<title>Create Wishlist</title>

{% endblock meta %} {% block content %}

<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
  <div
    class="d-flex flex-column align-items-center rounded-4 bg-light p-4 shadow-lg"
  >
    <h1>Create Wishlist</h1>

    <form method="POST" action="" class="d-flex flex-column">
      {% csrf_token %}
      <div class="d-flex flex-column mb-2">
        <label for="nama_barang">Nama Barang</label>
        <input
          type="text"
          name="nama_barang"
          id="nama_barang"
          placeholder="Nama Barang"
          class="form-control"
        />
      </div>
      <div class="d-flex flex-column mb-2">
        <label for="harga_barang">Harga Barang</label>
        <input
          name="harga_barang"
          id="harga_barang"
          placeholder="Harga Barang"
          class="form-control"
        />
      </div>
      <div class="d-flex flex-column mb-2">
        <label for="deskripsi">Deskripsi</label>
        <input
          name="deskripsi"
          id="deskripsi"
          placeholder="Deskripsi"
          class="form-control"
        />
      </div>
      <button class="btn btn-success">Submit</button>
      <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
    </form>

    <span id="message"></span>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('form').submit(function (event) {
      const formData = {
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        nama_barang: $('#nama_barang').val(),
        harga_barang: parseInt($('#harga_barang').val()),
        deskripsi: $('#deskripsi').val(),
      };

      $.ajax({
        type: 'POST',
        url: '/wishlist/ajax/submit',
        data: formData,
        dataType: 'json',
        encode: true,
      }).done(function (data) {
        $('#message').text(data.message);
      });

      event.preventDefault();
    });
  });
</script>
{% endblock content %}